<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="/webjars/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
</head>
<body>
<!-- START NAV -->
<nav class="navbar is-black" hx-boost="true">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" hx-get="/api" hx-target="#layout" href="/api">Asm0dey's library</a>
        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="container">
    <div class="section" hx-boost="true">
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
                <input class="input" type="text" name="search" id="search" placeholder="Search" hx-trigger="keyup[keyCode === 13]"
                       hx-get="/api/search" hx-target="#layout">
                <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="control">
                <button class="button" hx-include="[name='search']"
                        hx-get="/api/search" hx-target="#layout">Search</button>
            </div>
        </div>
    </div>
    <nav class="breadcrumb column is-12" aria-label="breadcrumbs">
        <ul>
        </ul>
    </nav>

    <div class="tile is-ancestor column is-12" hx-trigger="load" hx-get="/api" id="layout"></div>
    <div class="navv"></div>
</div>

<div id="modal-cont"></div>

</body>
<script src="/webjars/htmx.org/dist/htmx.min.js"></script>
<script src="/webjars/hyperscript.org/dist/_hyperscript.min.js"></script>
</html>